.context-box {
    width: 200px;
    height: 500px;
    border: 1px solid;
    position: relative;
    margin: 50px;
}

.menu {
    width: 100px;
    height: 150px;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
}

.self-button {
    width: 100%;
    text-align: left;
    padding: 0 !important;
}

.self-button:hover {
    background: #eeeeee;
}

.right-context-menu {
    width: 200px;
    height: 500px;
    border: 1px solid;
    position: absolute;
    right: 50px;
    top: 50px;
}
