/**
 * 网站基础样式, 一般不用调整
 */
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*html {*/
/*    background: #eff3f6;*/
/*}*/
/*p,*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*    line-height: 1;*/
/*}*/
/*body,*/
/*button,*/
/*input,*/
/*select,*/
/*textarea {*/
/*    font: 14px/1.5 "Microsoft Yahei", "PingFang SC", Helvetica, Arial, Simsun, sans-serif !important;*/
/*}*/
/*html body {*/
/*    font-size: 14px;*/
/*}*/
/*input {*/
/*    border: 0;*/
/*    border-radius: 4px;*/
/*    outline: none;*/
/*}*/
/*input::-moz-placeholder {*/
/*    color: #AEBAC6;*/
/*}*/
/*input:-ms-input-placeholder {*/
/*    color: #AEBAC6;*/
/*}*/
/*input::-ms-input-placeholder {*/
/*    color: #AEBAC6;*/
/*}*/
/*input::placeholder {*/
/*    color: #AEBAC6;*/
/*}*/
/*input:-webkit-autofill {*/
/*    -webkit-transition: background-color 5000s ease-in-out 0s;*/
/*    transition: background-color 5000s ease-in-out 0s;*/
/*}*/
/*ol,*/
/*ul {*/
/*    list-style: none;*/
/*}*/
/*img {*/
/*    border-style: none;*/
/*    box-sizing: border-box;*/
/*}*/
/**,*/
/*:after,*/
/*:before {*/
/*    box-sizing: border-box;*/
/*}*/
/*a {*/
/*    color: inherit;*/
/*}*/

.test_container--2xYPZ {
    width: 100%;
    background: #eff3f6;
    padding: 50px;
}
.test_container--2xYPZ .test_title--2RMpz {
    padding: 20px;
    background: #202124;
    text-align: center;
    color: white;
    font-size: 20px;
}
.test_container--2xYPZ .test_info--gwr4N {
    font-size: 18px;
    margin-top: 20px;
}
.test_container--2xYPZ .test_tips--CLmAK {
    margin-top: 20px;
}
.test_container--2xYPZ .test_tips--CLmAK p {
    line-height: 150%;
}
.test_container--2xYPZ .test_result--Cyqkj .test_chart--1Wb33 {
    margin-top: 20px;
    width: 100%;
    height: 800px;
    border: 1px solid #ddd;
    background: #fff;
}
.test_container--2xYPZ .test_result--Cyqkj .test_chart--1Wb33 .test_noData--3gos2 {
    text-align: center;
    margin-top: 100px;
}
.test_container--2xYPZ .test_result--Cyqkj .test_btn--1o9El {
    display: inline-block;
    background: #409eff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.test_container--2xYPZ .test_red--23mYD {
    color: red;
}

{
/* Loading */
/* 工具栏 container */
}
.hide-roc {
    display: none !important;
}
.chartLoading-roc {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 9999;
    display: none;
    -webkit-animation: chart-rotate 2s infinite linear;
    animation: chart-rotate 2s infinite linear;
}
.chartLoading-roc .chartDot1-roc, .chartLoading-roc .chartDot2-roc {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #1dace8;
    border-radius: 100%;
    -webkit-animation: chart-bounce 2s infinite ease-in-out;
    animation: chart-bounce 2s infinite ease-in-out;
}
.chartLoading-roc .chartDot2-roc {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes chart-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@keyframes chart-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes chart-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@keyframes chart-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
.chartToolbar-roc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #535353;
}
.chartFullScreen-roc {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 9999 !important;
}
.contextMenu-roc {
    padding: 3px 0;
    border: 1px solid #e3e4e5;
    background: #fff;
    box-shadow: 4px 4px 4px -2px #666;
    z-index: 2048;
}
.contextMenu-roc .menu-item-roc {
    padding: 6px 16px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contextMenu-roc .menu-item-roc:hover {
    background: #e3e4e5;
}
.nodeInfo-roc {
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.8);
    word-wrap: break-word;
    transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    z-index: 9999999;
}
.searchNodeBtn-roc .searchNodeContainer-roc {
    position: absolute;
    left: -1px;
    top: 35px;
    display: none;
}
.searchNodeBtn-roc .searchNodeInput-roc {
    width: 160px;
    padding: 3px 10px;
    border: 1px solid #aaa;
}
.searchNodeBtn-roc .searchNodeSearchBtn-roc {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTkwNTk4MzE2OTQzIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9Ijk5NzUiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTk5OC4xMzk0NjMgODcyLjEwNDc4NUw3ODguNzkyMTMgNjYyLjY1MjQ2MmE4OS43NzMxMzggODkuNzczMTM4IDAgMCAwLTI3LjM4NDI5Ny0xOC4xMzMyMDkgNDE1LjIyNjAwOSA0MTUuMjI2MDA5IDAgMSAwLTExNi40MjA1MDcgMTE2LjU3ODQ5MSA4Ny4xNDQzOTcgODcuMTQ0Mzk3IDAgMCAwIDE4LjA4MDIxNiAyNy4zMzEzMDJsMjA5LjQ1MjMyMiAyMDkuMTg5MzQ4YTg4LjgyNzIzMSA4OC44MjcyMzEgMCAxIDAgMTI1LjYxOTU5OS0xMjUuNjE4NTk4ek00MTYuMDM0OTI5IDcxMS43NDM2MTZhMjk2LjEyNDc2NiAyOTYuMTI0NzY2IDAgMSAxIDI5Ni4xMjM3NjYtMjk2LjEyNDc2NiAyOTYuMTI0NzY2IDI5Ni4xMjQ3NjYgMCAwIDEtMjk2LjEyMzc2NiAyOTYuMTI0NzY2eiIgcC1pZD0iOTk3NiIgZmlsbD0iI2FhYWFhYSI+PC9wYXRoPjwvc3ZnPg==) no-repeat;
    background-size: 60%;
    background-position: center;
}

.icon-btn-roc {
    position: relative;
    float: left;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #dddddd;
}
.mouseDown-roc {
    background-color: #444;
}
.active-roc {
    background-color: #383838;
}

.icon-select-roc {
    position: relative;
    float: left;
    background-size: 30%;
    background-position: 100% 90%;
    background-repeat: no-repeat;
}
.icon-select-roc .icon-options-container-roc {
    position: absolute;
    left: 0;
    display: inline-block;
    background: #535353;
    text-align: center;
    z-index: 100;
}

/*!
 * Toastify js 1.3.2
 * https://github.com/apvarun/toastify-js
 * @license MIT licensed
 *
 * Copyright (C) 2018 Varun A P
 */
.toastify {
    display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-align: center;
    text-decoration: none;
    z-index: 2147483647;
}
.toast-centent {
    padding: 2px 10px;
    background: #fb3e44;
    color: #ffffff;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    border-radius: 2px;
    cursor: pointer;
}
.toastify.on {
    opacity: 1;
}
.toast-close {
    opacity: 0.4;
    padding: 0 5px;
}
.toastify-left {
    left: 15px;
}
.toastify-top {
    top: -150px;
}
.toastify-bottom {
    bottom: -150px;
}
.toastify-rounded {
    border-radius: 25px;
}
.toastify-avatar {
    width: 1.5em;
    height: 1.5em;
    margin: 0 5px;
    border-radius: 2px;
}
@media only screen and (max-width: 360px) {
    .toastify-right, .toastify-left {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
}
