.App {
  display: flex;
}

.App > span {
  height: 200px;
  width: 200px;
  border: 1px solid #aaa;
  margin: 10px;
}

.learn1 {
  /*在外部没有display的情况下很好用*/
  /*display: table-cell;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*直接设置行高*/
  /*line-height: 12;*/
  /*text-align: center;*/
  /*可以垂直居中显示*/
  /*display: flex;*/
  /*align-items: center;*/

  /*适用于chrome、Safari内核*/
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align: center;
}

.learn2 {
  overflow: auto;
  font-size: 20px;
}

.learn3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.learn4 {
  filter: blur(1px);
}

.learn5 {
  background: lightblue;
  animation: colorCycle 5s infinite;
}

@keyframes colorCycle {
  /*from {*/
  /*  background-color:lightblue;*/
  /*}*/
  /*to {*/
  /*  background-color:lightcoral;*/
  /*}*/
  50% {background: lightcoral}
}
