.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    padding: 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.process {
    height: 50px;
}

.gameList {
    width: 100%;
    flex: 1;
    padding: 25px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-content: flex-start;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
